<div class="row">  
  <div class="span6 offset3">
    <h4 class="center">My Proposals</h4>
    <div class="main">
			<table>
				<tr>
					<th>Name</th>
					<th>From</th>
				</tr>
			<% @proposals.each do |proposal|%>
			<tr>
				<div>
				<td> <%=link_to proposal.name, proposal%></td>
				<td><%=proposal.from%></td>
			</div>
			</tr>
			<%end%>
			</table>
			<br/>
			<div class="btn-group">
				<%=link_to "Home", root_path, class: "btn"%>
			</div>
		</div>
  </div>
</div>