<div class="row">  
  <div class="span6 offset3">
    <h4 class="center">Responses</h4>
    <div class="main">
			<table>
				<tr>
					<th>Name</th>
					<th>From</th>
				</tr>
			<% @proposals.each do |proposal|%>
			<tr style='font-weight: <%=unread_response?(proposal) ?'bold':''%>'>
				<td><%=link_to proposal.name, respons_path + '?id=' +  proposal.id.to_s %></td>
				<td><%=proposal.from%></td>
			</tr>
			<%end%>
			</table>
			<div class="btn-group">
				<%=link_to "Home", root_path, class: "btn"%>
			</div>
		</div>
  </div>
</div>
