@import "bootstrap";
@import "bootstrap-responsive";


/* General styles */
body {
	background-repeat: no-repeat;
	background-attachment: left top;
	background-size:100% 65px;
	padding:0;
	div.container.content {
		padding-top:40px;
	}
}
.navbar-fixed-top:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.center {
  text-align:center;
  margin-top:0;
  margin-bottom:0;
}
#header {
  #logo {
	display:block;
	margin:0 auto;
	margin-top:5px;
	margin-bottom:15px;
  }
}
.label-inform {
	background-color:#A60004;
}
.row table.table-bordered {
  background-color:#fff;
	box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.15);
	-moz-box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.15);
	-webkit-box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.15);
	-ms-box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.15);
  tr td tr, tr td th, tr td td {
    border:white solid 0;
  }
}
.form {
  width:$gridColumnWidth * 4 ;
  margin: 0 auto;
	#error_explanation {
		width:100%;
		padding:0;
		margin-top:20px;
		margin-right:0;
	}
	.field_with_errors {
		margin-bottom:0;
	}
  input, textarea {
    width: 93%;
  }
  .btn {
  	width: 100%;
  }
  .btn-group {
	width:100%;
  }
  #abtn {
	width:100%;
	display:block;
	a.btn {
		width:100%;
	}
  }
  select {
  	width: 99%;
  }
  table, tr {
	width: 100%;
	text-align: left;
  }
}

.main {
  width:$gridColumnWidth * 4 ;
  margin: 0 auto;
  table, tr {
	text-align:left;
	width: 100%;
  }
  .tabbable {
	argin-top:10px;
  }
}