@import "bootstrap";
@import "bootstrap-responsive";

/* General styles */
.center {
  text-align:center;
}

.form {
  width:$gridColumnWidth * 3 ;
  margin: 0 auto;
  input, textarea {
    width: 91%;
  }
  input.btn {
  	width: 100%;
  }
  select {
  	width: 99%;
  }
}

.main {
  width:$gridColumnWidth * 4 ;
  margin: 0 auto;
  table, tr {
	width: 100%;
  }
}